<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HoodSavy · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <%= render __MODULE__, "nav.html"%>
    <main role="main" class="container mx-auto px-4">
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/deps.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      feather.replace()
    </script>
    <% if false do %>
      <script>
        if('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/js/sw.js')
            .then(function() { console.log("Service Worker Registered"); });
        }
      </script>
    <% end %>
  </body>
</html>
